<html lang=en>

<head>
    <meta charset="utf-8">
    <title>Pedro Mira Lopes</title>

    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/site.css">

    <!-- Javascripts -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/site.js"></script>
</head>

<body class="about-body">
    <main class="about-me">
        <div class="about-me-image"></div>
        <!--
    -->
        <div class="about-me-content">
            <article>
                <div class="about-me-name">
                    Pedro
                    <br>
                    <span class="black">Mira Lopes</span>
                </div>
                <a class="arrow-down-button" scroll-on-click href="#aboutMeText"></a>
                <a class="arrow-left-button" scroll-on-click href="../index.html"></a>
                <div class="about-me-title-section">
                    <img src="../images/Me.jpg" class="img-circle" alt="Cinque Terre" width="120" height="120">

                    <div class="about-me-title">
                        <h3>ABOUT ME</h3>
                        <h3 class="black">GET TO KNOW ME BETTER</h3>
                    </div>
                </div>
                <a id="aboutMeText"></a>

                <p class="about-me-text">
                    I'm currently finishing my MSc Computer Science Engineering, with special emphasis in the areas of Software Engineering and Multimedia Systems at Instituto Superior Técnico.
                </p>
                <p>
                    By now, I'm finishing my MSc thesis called "3D Interaction with Intelligent Buildings", which intends to answer to questions about how to represent tri-dimensional energy data over facilities.
                </p>
                <p>
                    I also published two researches about this subject, "Real Time Data Visualisation over BIM Models" at IT4Energy 2015 in Lisbon, and "3I Buildings: Intelligent, Interactive and Immersive Buildings" at Creative Construction Conference 2015 in Krakow.
                </p>
                <div class="contacts">
                    <ul>
                        <li>
                            <a href="https://twitter.com/PedroMiraLopes" class="fa fa-twitter-square fa-4x"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/pedro.miralopes" class="fa fa-facebook-square fa-4x"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/profile/view?id=AAMAABLRKiEBWGOiBwWHw8A5R3bMJ2KaDpVYAuY&trk=hp-identity-photo" class="fa fa-linkedin-square fa-4x"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/pfmiralopes/" class="fa fa-instagram fa-4x"></a>
                        </li>
                        <li>
                            <a href="https://github.com/PMiraLopes" class="fa fa-github-square fa-4x"></a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </main>

</body>

</html>