<html lang=en>

<head>
    <meta charset="utf-8">
    <title>Pedro Mira Lopes</title>

    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/site.css">

    <!-- Javascripts -->
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../js/site.js"></script>
</head>

<body class="other-activities-body">
    <main class="other-activities">
        <div class="other-activities-image"></div>
        <div class="other-activities-content">
            <article>
                <div class="other-activities-name">
                    Pedro
                    <br>
                    <span class="black">Mira Lopes</span>
                </div>
                <a class="arrow-down-button" scroll-on-click href="#otherActivitiesText"></a>
                <a class="arrow-left-button" scroll-on-click href="../index.html"></a>
                <div class="other-activities-title-section">
                    <div class="other-activities-title">
                        <h3>OTHER ACTIVITIES</h3>
                        <h3 class="black">AND SOME OF MY FOLLIES</h3>
                    </div>
                </div>
                <a id="otherActivitiesText"></a>

                <p id="otherActivitiesText" class="about-me-text">
                    I'm a former federated rugby player, having played for two years in C.F. Belenenses in the U18 portuguese rugby championship. As result, I became a pasionated supporter of this sport, go All Blacks! Also, I played hanball for 3 years in GEDA and C.F.
                </p>
                <p>
                    In 2012, I volunteered as a teacher for senior citizens and people with mental illnesses, helping them grasp computers, mail and other technologies at Casa da Cultura e Bem Estar.
                </p>
                <p>
                    As for my main hobbies, I love to go to the gym and jogging by the sea.
                </p>

                <div class="contacts">
                    <ul>
                        <li>
                            <a href="https://twitter.com/PedroMiraLopes" class="fa fa-twitter-square fa-4x"></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/pedro.miralopes" class="fa fa-facebook-square fa-4x"></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/profile/view?id=AAMAABLRKiEBWGOiBwWHw8A5R3bMJ2KaDpVYAuY&trk=hp-identity-photo" class="fa fa-linkedin-square fa-4x"></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/pfmiralopes/" class="fa fa-instagram fa-4x"></a>
                        </li>
                        <li>
                            <a href="https://github.com/PMiraLopes" class="fa fa-github-square fa-4x"></a>
                        </li>
                    </ul>
                </div>
            </article>
        </div>
    </main>
</body>

</html>