.other-activities-body{
    background: rgb(71, 80, 32);
}

.other-activities {
    width: 100%;
    .other-activities-image {
        background: url(../images/rugbyBall.jpg) no-repeat center;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .other-activities-content {
        display: inline-block;
        height: 65%;
        width: 100%;
        position: relative;
        article {
            position: absolute;
            top: -45%;
            left: 5%;
            width: 90%;
            color: white;
            font-size: 16;
            background: rgba(121, 107, 55, 1);
            /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(rgba(121, 107, 55, 1), rgba(121, 107, 55, 0.6));
            /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(rgba(121, 107, 55, 1), rgba(121, 107, 55, 0.6));
            /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(rgba(121, 107, 55, 1), rgba(121, 107, 55, 0.6));
            /* For Firefox 3.6 to 15 */
            background: linear-gradient(rgba(121, 107, 55, 1), rgba(121, 107, 55, 0.6));
            /* Standard syntax */
            .other-activities-title-section {
                .other-activities-title {
                    display: inline-block;
                    padding-left: 100px;
                    padding-top: 50px;
                    h3 {
                        font-size: 33px;
                        line-height: 25px;
                        &.darkGreen {
                            color: rgb(71, 80, 32);
                        }
                        &.black{
                            color: black;
                        }
                    }
                }
            }
            .other-activities-name {
                padding-top: 20px;
                padding-left: 20px;
                font-size: 16px;
                .darkGreen {
                    color: rgb(71, 80, 32);
                }
                .black{
                    color: black;
                }
                display: inline-block;
            }
            .arrow-down-button {
                float: right;
                margin-right: 40px;
                margin-top: 20px;
            }
            .arrow-left-button {
                float: right;
                margin-right: 10px;
                margin-top: 20px;
            }
            p {
                padding-left: 100px;
                padding-right: 100px;
                &.about-me-text {
                    padding-top: 50px;
                }
            }
        }
    }
}